{% extends 'base.html.twig'%}
 {% block title%}Home{% endblock %}
 {% block body %}
 <style>
  h1{ font-size:80px;}
  h2{font-size:40px;color:black;}
  h3{font-size:30px;color:#DAA520;}
  h4,h6{color:black;}
  head{background-color:#47d1d1;}

}
.center{
  display:block;
  margin:auto;
}
</style>

<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
      <h1  style="color:;size:100px;" align="center">
          JustNotes
      </h1><br>
      <h2 align="center" style="color:#8c8c8c">Write Your Notes</h2>
    <div class="clear"></div>
  </div>
  &nbsp;&nbsp;&nbsp;
  <section id="feature-1" class="feature-section-1 pt-100">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-4 col-md-5">
<div class="feature-content-wrapper">
<div class="section-title">
<h2 class="mb-20"> <br class="d-none d-sm-block"> Stay organized at work, school and life </h2>
<p class="mb-30">Organize your work in unlimited notebooks, folders and subfolders. Create notebooks and projects in your own tree-like structure: Sections, Departments, Classes, Lectures, Grades, Drafts, Chapters, Research, et</p>

</div>
</div>
</div>
<div class="col-lg-3">
<div class="feature-image text-lg-end">
<img src="./SoftBit _ Bootstrap 5 SaaS Landing Page_files/undraw_portfolio_feedback_exfk.svg" width="800px" alt="">
</div>
</div>
</div>
</div>
</section>



  


							
<section id="home" class="hero-section">
  <div class="container">
  <div class="row align-items-center">
    <img src="./SoftBit _ Bootstrap 5 SaaS Landing Page_files/undraw_informed_decision_p2lh.svg" alt="">
  
  </div>
  </div>
  </section>

  
<br>
<br>
    <h2 align="center"><U>JustNotes</U></h2>
      </h1>
		<div class="row">
					<div class="col-md-12 text-center">
						<p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> Projet réalisée par <i class="icon-heart" aria-hidden="true"></i> Haythem bekir
						</p>
					</div>
				</div>
			</div>
		</footer>    </div>
    <div class="clear"></div>
  </div>  
</footer>
<a href="#" id="toTop" class="fa fa-angle-up"></a>




{% endblock %}